<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" type="text/css" href="style.css">
   <link rel="icon" href="http://example.com/favicon.png" type= "image" https://photos.gograph.com/thumbs/CSP/CSP993/hanger-in-black-and-white-vector-stock_k15265038.jpg/> 
  </head>
  <body>
    
    <br>
    <br>
    <br>
   <h1 class="KWK">Klothes with Klossy</h1> 
    <h3 class="Kore">Sponsored by Kore</h3>
    <br>
  <br>
  <h4 class= "about">ABOUT KWK:</h4>
    <div class="description"> Klothes with Klossy allows women to find the perfect outfit for an upcoming event while lessening the time it takes to shop. We enjoy giving you stylish ideas based on your specific requests. So, take this survey and we will make outfit combinations for you.  
    </div>
  <form method=POST class="questions">
    <br>
     <p class= "title"> What is the occasion? </p>
     <input type="radio" name="occasion" value="formal"> Formal<br>
     <input type="radio" name="occasion" value="casual"> Casual<br>
     <br>
     <p class= "title"> What is the weather forecast?</p>
     <input type="radio" name="weather" value="hot"> Hot<br>
     <input type="radio" name="weather" value="cold"> Cold<br>
      <input type="radio" name="weather" value="warm"> Warm<br>
     <br>
     <p class="title"> What look are you going for?</p>
     <input type="radio" name="gender" value="masculine"> Masculine<br>
     <input type="radio" name="gender" value="feminine"> Feminine<br>
     
     
   <!--<button type="button">Get your outifts!!</button>-->
   
   <input type="submit" value ="Get your outfits!!">
     
     
     
     
   </form>
  <br>
    <div class="slogan">"Creating your outfit fast and stylish"</div>
    <br>
    <br>
  </body>
  <style>
    .KWK {
      text-align: center;
      color: pink;
      font-family: impact;
      background-color: white;
      border-color: grey;
      margin: auto;
      width: 54%;
      font-size: 400%;
      border-radius: 10px 100px / 120px;
      
    }
    .Kore {
      text-align: center;
      font-size: 156%;
      font-family: courier;
      color: white;
    
    }
    body {
      background-color: lightblue;
  border-style: dotted;
  border-width: 15px;
  border-color: white;
  position: relative;

    }
    .slogan {
      text-align: center;
      color: white;
      font-size: 120%;
      font-weight: bold;
      font-family: parkavenue;
    }
    .about {
      font-weight: bold;
      color: grey;
      font-size: 200%;
      font-family: Palatino;
    
    }
    .description {
      font-family: Palatino;
      color: grey;
font-weight: bold;
    font-size: 130%;
     width:85%; 

    }
    .title {
      font-weight: bold;
      font-family: parkavenue;
      font-size: 150%;
      text-align: center;
      color: grey;
      
    }
    .questions { text-align: center;
    font-family: parkavenue;
    font-size: 140%;
    color: white;
      }
  </style>
  
</html>