<!DOCTYPE html>
<html>
  <head>
    <!--<!casual, cold, feminine outfit>-->
    <title>Your Outfit</title>
  </head>
  <body>
    <h1>Here's your outfit!</h1>
    <!--<img src="https://www.lulus.com/images/product/xlarge/3127740_265042.jpg"/>-->
    <!--<a href="https://www.lulus.com/products/sway-girl-sway-black-swing-dress/265042.html"/>-->
    <%=@result_stuff%>
  </body>
  
  
</html>